.idea
.coverage
.tox
coverage.xml
pylint.txt
toy.py
violations.pyflakes.txt
cover/
build/
docs/_build
*.pyc
*.swp
*.egg
env/
dist
venv
pyessv.egg-info
*-checkpoint.ipynb
TODO.txt
tmp.ipynb
tmp
tmp.py
/ops
Untitled.ipynb
*.key
